* {
    margin: 0%;
    padding: 0%;
   
}

body {
    background-color: rgba(225, 223, 223, 0.623);
     background-color: rgb(200, 151, 246);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(192, 145, 74);
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    box-shadow: 10px 10px 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    
}

h2 {
    padding: 30px;
    text-decoration: none;
    color: aliceblue;
    
}

nav {
    position: relative;
    right: 20px;
    
}
nav a{
    transition: 0.4s;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
nav a:hover{
    color:grey;
    transform: translateY(-10px) scale(1.03);
}

a {
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    flex-wrap: wrap;
}

.first {
    display: inline-block;
    border-radius: 20px;
    border-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

}

.second {
    border-style: solid;
    border-radius: 20px;
    width: 250px;
    height: 187px;
    border-width: 1px;
    border-color: rgb(247, 249, 249);
    text-align: center;
    box-shadow: 10px 10px 50px rgb(242, 203, 203);
    transition-duration: 0.3s;

    h3 {
        color: rgb(102, 15, 2);
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        transition-duration: 0.7s;
    }

    img {
        border-style: none;
        width: 250px;
        height: 200 px;
        border-style: none;
        border-radius: 20px;
    }
}

.main1 {
    display: flex;
    justify-content: center;
    transition: ease-out;
    transition-duration: 0.3s;


}

.main2 {
    width: 80%;
    height: 100px;
    background-color: rgba(184, 89, 147, 0.631);
    box-shadow: 0px 10px 50px rgb(250, 246, 172);
    font-size: 70px;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
    color: rgba(246, 242, 165, 0.3);
    margin-top:200px;
    transition: 0.7s;
    
}
.main1:hover{
    transform: translateY(-10px) scale(1.02);

}
.main2:hover{
    color: rgba(246, 242, 165, 0.8);
}


.second:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 20px 20px 60px;
}

.second:hover h3 {
    color: rgb(200, 239, 92);
}

#first {
    display: inline-block;
}