header{
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-decoration: none;
    color: aliceblue;

}

.navM{
    display:inline-block;
    
    
}
.navM ul{ 
    list-style: none;
    display: flex;
    justify-content: flex-end ;
    text-align: left;

}
.navM li{
    list-style: none;
    display: flex;
    justify-content: flex-end ;
    text-align: right;
}


