* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgba(225, 223, 223, 0.623);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(192, 145, 74);
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    box-shadow: 10px 10px 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

h2 {
    padding: 30px;
    text-decoration: none;
    color: aliceblue;
}

nav {
    position: relative;
    right: 20px;

}

nav a {
    transition: 0.4s;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

nav a:hover {
    color: grey;
    transform: translateY(-10px) scale(1.03);
}

a {
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    flex-wrap: wrap;
}

.main {
    background: url('https://www.bhg.com/thmb/FdLY06YG9PjVaqopySmVpg0h8W0=/4000x0/filters:no_upscale():strip_icc()/bhg-grocery-shopping-in-person-8683342-054f491d8f594144b2c0b603d1940dc1.png');
    background-size: cover;
    padding: 150px 20px;
    text-align: center;
    margin-bottom: 200px;
    box-shadow: 0px 20px 40px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

div h1 {
    padding-top: 10px;
    font-size: 40px;
    color: rgb(166, 241, 241)
}

div h2 {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 40px;
    color: rgb(247, 241, 241);
    font-size: 20px;
}

button {
    background-color: blueviolet;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    transition: ease-in;
    transition-duration: 1s;
    box-shadow: 3px 3px 10px
}

button a:hover {
    border: none;
    border-radius: 5px;
    background-color: rgb(188, 133, 239);
    transform: translateZ(-10px) scale(1.03);
}

.items1 {
    display: inline-block;
    border-radius: 20px;
    border-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

}

.second {
    border-style: solid;
    border-radius: 20px;
    width: 150px;
    height: 127px;
    border-width: 1px;
    border-color: rgb(247, 249, 249);
    text-align: center;
    box-shadow: 10px 10px 50px;
    transition-duration: 0.3s;
}
.second   h3 {
        color: rgb(197, 127, 127);
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        transition-duration: 0.3s;
    }

.second   img {
        border-style: none;
        width: 50px;
        height: 50px;
        border-style: none;
        border-radius: 20px;
    }


.main1 {
    display: flex;
    justify-content: center;


}

.main2 {
    width: 80%;
    height: 100px;
    background-color: rgba(184, 89, 147, 0.631);
    box-shadow: 0px 10px 50px rgb(246, 242, 165);
    font-size: 70px;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
    color: rgb(246, 242, 165);

}

.second:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 20px 20px 60px;
}

.second:hover h3 {
    color: rgb(189, 112, 207);
}

#first {
    display: inline-block;
}